.container
{

    padding: 3em;
    max-width: 1000px;
    margin: 0 auto;
}

h1
{
 text-align: center;
}
.cards-container
{
    display: flex;
    width:100%;
    padding-top: Sem;
}
.cards-form
{
    width: 50%;
    padding: 2em;
}
.cards-grid
{
    width: 50%;
    padding: 2em;
}
form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}
form input[type="text"], form input[type="password"], form input[type="number"] {
  width: 100%;
  padding: 0.5em 0.3em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
.form-group-inline{
 display: flex;
 flex-direction: row;
 width: 100%;
justify-content: space-between;
}
                       I
.form-group- inline div {
 width: 30%;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
