<div class="container">
  <h1>ANGULAR + ASP. NET CORE CRUD</h1>
 <div class="cards-container">
  <div class="cards -form">
    <form #form="ngForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="">Employee ID</label>
        <input type="text" name="Employee ID">
      </div>
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="Name">
      </div>
      <div class="form-group">
        <label for="">Date Of Birth</label>
        <input type="text" name="Date Of Birth">
      </div>
      
      <div class="form-group">
        <label for="">Gender</label>
        <input type="text" name="Gender">
      </div>
      <div class="form-group">
        <label for="">Email ID</label>
        <input type="text" name="Email ID">
      </div>
      <div class="form-group">
        <label for="">Contact No.</label>
        <input type="text" name="Contact No.">
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <input type="text" name="Address">
      </div>
      <div class="form-group">
        <label for="">State</label>
        <input type="text" name="State">
      </div>
      <div class="form-group">
        <label for="">Country</label>
        <input type="text" name="Country">
      </div>
      <div class="form-group">
        <label for="">Pincode</label>
        <input type="text" name="Pincode">
      </div>
      <div class="form-group">
        <label for="">Employee Type</label>
        <input type="text" name="Employee Type">
      </div>
      <div class="form-group">
        <label for="">Department</label>
        <input type="text" name="Department">
      </div>
      <div class="form-group">
        <label for="">Designation</label>
        <input type="text" name="Designation">
      </div>
      <div class="form-group">
        <label for="">DOJ</label>
        <input type="text" name="DOJ">
      </div>
      <div class="form-group">
        <label for="">Level</label>
        <input type="text" name="Level">
      </div>
      <div class="form-group">
        <label for="">Band</label>
        <input type="text" name="Band">
      </div>
      <div class="form-group">
        <label for="">Reporting Manager</label>
        <input type="text" name="Reporting Manager">
      </div>
      <div class="form-group">
        <label for="">Location</label>
        <input type="text" name="Location">
      </div>
      <div class="form-group">
        <label for="">Work Experience</label>
        <input type="text" name="Work Experience">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
      </div>
    </form>
   </div>
   <div class="cards-grid"></div>
  </div>
</div>